# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Packages
*.egg
*.egg-info/
dist/
build/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Pytest
.cache/
.pytest_cache/

# mypy / coverage
.mypy_cache/
.coverage
htmlcov/

# VSCode / IDEs
.vscode/
.idea/
*.swp

# Envs
.venv/
env/
venv/

# Local env config
.env

# Translations cache
*.mo
*.pot

# System files
.DS_Store
Thumbs.db

# Certs
cert.pem
key.pem

# DB
db.sqlite

# temps
logs/
uploads/

# gemini
gemini/
gemini.ini
