# This is configuration file for openwrite.
# Make sure to set all options correctly before running your instance.

# General settings

## Set your domain name here
## Without procotol, just domain. ex. example.com
DOMAIN=example.com


## Set interface to listen on, ex. 0.0.0.0 / 192.168.0.100 / 127.0.0.1
IP=0.0.0.0
## Set listening port for application
PORT=8081

## Can users register in your instance?
## values: yes / no
SELF_REGISTER=yes


# Database settings

## DB_TYPE can be sqlite or mysql
DB_TYPE=sqlite

## DB_PATH is path to your sqlite file or mysql connection string
## ex. db.sqlite / mysql://user:password@ip_address/database_name
DB_PATH=db.sqlite


# Security settings
## Secret key, generate strong random string!

SECRET_KEY=strong_secret_key
