# This is configuration file for openwrite.
# Make sure to set all options correctly before running your instance.

# General settings

## Set your domain name here
## Without procotol, just domain. ex. example.com
DOMAIN=
VERSION=0.10.4
MODE=


## Set interface to listen on, ex. 0.0.0.0 / 192.168.0.100 / 127.0.0.1
IP=
## Set listening port for application
PORT=

## Can users register in your instance?
## values: yes / no
SELF_REGISTER=

## Numbers of blogs per user, limit
## Set to 0 to infinite
BLOG_LIMIT=

## Enable media upload to posts?
## values: yes / no
MEDIA_UPLOAD=

## Where to upload media? Currently supported: local(on disk), bunny(bunny CDN)
UPLOAD_STORAGE=

## Bunny CDN settings

## You can find your api key in dashboard->storage->FTP & API access
BUNNY_API_KEY=

## Storage name
BUNNY_STORAGE_ZONE=

## Pull zone URL in format https://name.b-cdn.net/
BUNNY_STORAGE_URL=


# Database settings

## DB_TYPE can be sqlite or mysql
DB_TYPE=

## DB_PATH is path to your sqlite file or mysql connection string
## ex. db.sqlite / mysql://user:password@ip_address/database_name
DB_PATH=


# Security settings
## Secret key, generate strong random string!

SECRET_KEY=

## Captcha settings, friendly captcha keys
CAPTCHA_ENABLED=
FRIENDLY_CAPTCHA_SITEKEY=
FRIENDLY_CAPTCHA_APIKEY=

# Logs
LOGS=
LOGS_DIR=

# Gemini settings

GEMINI=
GEMINI_CERTS=
GEMINI_PORT=
