<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>openwrite</title>
    <meta name="description" content="Minimalist, opensource blog. Write, freely.">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="{{ url_for('static', filename='showdown.min.js') }}"></script>
    <script src="{{ url_for('static', filename='openwrite.js') }}"></script>
    {% if g.captcha %}
    <script type="module" src="https://cdn.jsdelivr.net/npm/@friendlycaptcha/sdk@0.1.20/site.min.js" async defer></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@friendlycaptcha/sdk@0.1.20/site.compat.min.js" async defer></script>
    {% endif %}
</head>
<body>
    <div class="container">
        <header class="header">
            <a href="/"><div id="logo"> </div></a>
            <div id="menu">
                <a href="/discover">{{ g.trans['discover'] }}</a>
                <a href="/instances">{{ g.trans["instances"] }}</a>
                <a href="https://main.openwrite.io/hosting">{{ g.trans["hosting"] }}</a>
                {% if g.user %}
                <a href="/logout">{{ g.trans["logout"] }}</a>
                {% else %}
                {% if g.register_enabled %}
                <a href="/register">{{ g.trans["register"] }}</a>
                {% endif %}
                <a href="/login">{{ g.trans["login"] }}</a>
                {% endif %}
                {% if g.isadmin == 1 %}
                <a href="/admin">Admin</a>
                {% endif %}
            </div>
        </header>
        <main class="content">
